* {
    margin: 0;
    padding: 0;
}

.estiloNav {
    text-align: center;
    background-color: aqua;
}

#logo {
    display: flex;
    align-items: center;
}

.logoNav {
    height: 100px;
    width: 100px;
}

.colorSpan {
    font-weight: bolder;
    color: rgb(247, 28, 65);
}

.colorEmpar {
    font-weight: bolder;
    color: black;
}

.divNav {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .divUlNav {
        display: flex;
        .ulNav {
            list-style: none;
            display: flex;
            .liNav {
                padding-right: 10px;
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}

.cartBtn {
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    outline: inherit;
    width: 1.5rem;
    height: 1.5rem;
}

.greeting {
    background-color: rgb(209, 166, 109);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}